@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important; /* Disable animations */
    transition: none !important; /* Disable transitions */
  }
}

*{
  scroll-behavior: smooth;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  background-color: whitesmoke;
}

#navbar{
  background-color: rgb(16,23,36);
  width: 85vw;
  height: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:1.2vw;
  border: 1px solid plum;
  border-radius: 1vw;
  padding: 0.1vw 2.5vw;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 0.3vw 0.4vw 1.2vw plum;
  z-index: 1000;
}

.home-link > img{
  width: 3.5vw;
  opacity: 0.7;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.home-link:hover > img{
  opacity: 1;
  transform: scale(1.1);
}

.navbar-link {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2rem;
  position: relative; /* Required for the pseudo-element */
  transition: color 0.3s ease-in-out; /* Optional: Smooth text color transition */
  transition: background-color 0.3s ease-in-out; /* Optional: Smooth text color transition */
  padding: 1.6vw 1.5vw;
}

.navbar-link:hover {
  color: plum; /* Optional: Change text color on hover */
  background-color: rgba(218, 214, 214, 0.41);
}

.navbar-link::after {
  content: ''; /* Creates the line */
  position: absolute;
  bottom: 0; /* Position the line slightly below the text */
  left: 0;
  width: 0; /* Start with no width */
  height: 2px; /* Thickness of the line */
  background-color: plum; /* Line color */
  transition: width 0.5s ease-in-out; /* Smooth expansion */
}

.navbar-link:hover::after {
  width: 100%; /* Expand the line to full width on hover */
}

.contact-us-link{
  text-decoration: none;
  color: whitesmoke;
  background-color: plum;
  border-radius: 1vw;
  font-size: 1.2rem;
  position: relative; /* Required for the pseudo-element */
  transition: color 0.3s ease-in-out; /* Optional: Smooth text color transition */
  transition: box-shadow 0.3s ease-in-out; /* Optional: Smooth text color transition */
  padding: 1vw 1.2vw;
}

.contact-us-link:hover{
  box-shadow: 0vw 0vw 1.2vw plum;
}

.section{
  height: auto;
  width: 100vw;
  padding-top: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-us{
  background-color: black;
  color: whitesmoke;
  font-size: 1.4rem;
}

#contact-us p,
#services p{
  width: 60vw;
  text-align: center;
  line-height: 2.2vw;
}

h1{
  font-size: 2.5rem;
}

#contact-us-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: auto;
  padding: 1vw 5vw 4vw 5vw;
  box-sizing: border-box;
  row-gap: 1vw;
} 

#contact-us-form button{
  background-color: plum;
  color: whitesmoke;
  font-size: 1.2rem;
  padding: 1vw 2vw;
  border-radius: 1vw;
  margin: 1vw;
  border: none;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  transition: background-color 0.4s ease-in-out;
  border: 1px solid plum; 
}

#contact-us > p{
  margin: 0;
}
#contact-us-form button:hover{
  background-color: rgb(16,23,36);
  border: 1px solid plum;
}

#contact-us-form div{
  display: flex;
  flex-direction: row;
  justify-content: start;
  column-gap: 1vw;
}

.name-input{
  width: 23.4vw;
}

#contact-us-form input,
#contact-us-form textarea,
#contact-us-form select {
  padding: 1vw;
  border: 1px solid plum;
  border-radius: 1vw;
  font-size: 1.1rem;
  font-family: 'Lato', sans-serif;
  background-color: whitesmoke;
}

.only-input{
  width: 100%;
}

.phone-number-div select{
  color: rgb(117,117,117);
  width: 15vw;
}

.phone-number-div input{  
  width: 34vw;
}

#contact-us-form textarea{
  height: 12vw;
}


#contact-us > div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2vw;
}

#contact-us img{
  width: 35vw;
  height: auto;
  animation: rotating 7s linear infinite;
}


@keyframes rotating{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

/*Temporary Style*/

/* #about-us,
#projects, 
#services,
#contact-info{
  height: 1000px;
} */

.result-form{
  position:relative;
  font-size: 1.2rem;
  text-align: center;
  animation: fadeInScale 2s linear forwards;
  margin: 0;
}

@keyframes fadeInScale {
  0% {
    opacity: 0; 
    transform: scale(0.8); 
    color: lightgrey;
    text-shadow: none; 
  }
  50% {
    opacity: 0.5; 
    transform: scale(1.05); 
    color: lightslategray;
    text-shadow: 0 0 5px lightslategray; 
  }
  100% {
    opacity: 1; 
    transform: scale(1); 
    color: plum; 
    text-shadow: 0 0 10px plum, 0 0 20px plum; 
  }
}

.result-form-div{
  min-height: 5vw;
  max-width: 50vw;
  margin-top: 2vw;
}

#services{
  background-color: whitesmoke;
  font-size: 1.4rem;
  padding-bottom: 5vw;
}

.services-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services-card{
  width: 40vw;
  min-height: 17vw;
  background-color: plum;
  margin: 2vw;
  padding: 1.5vw 1vw;
  border: 2px solid rgb(16,23,36);
  color: rgb(16,23,36);
  border-radius: 2vw;
  box-shadow: 0.3vw 0.3vw 1vw rgb(16,23,36);
  transition: all 0.4s ease-in-out;
}

.services-card:hover{
  cursor: pointer;
}

.services-card ul{
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2.5vw;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 700;
}

.services-card h4{
  font-size: 1.75rem;
  text-align: center;
  color: whitesmoke;  
  font-family: 'Orbitron', sans-serif;
  text-decoration: underline;
}

#about-us{
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.800);
}


#home-page{
  position: relative; 
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow-x: hidden;
  cursor: none;
  overflow: visible;
}

.background-image{
  width: 100vw;
  height: 100vh;
  scale: 1;
  object-fit: cover;
  position: relative;
  z-index: 1;
  opacity: 0.4;
  animation: fadeOutImg 10s linear infinite;
}


@keyframes fadeOutImg {
  50%{
      opacity: 0.8;
      filter: hue-rotate(70deg);

  }
  0%, 100%{
      opacity: 0.4;
      filter: hue-rotate(30deg);
  }
}


.background-container{
  position: absolute;
  width: 100vw;
  height: auto;
  top: 25%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2vw;
}

.background-info{
  color: whitesmoke; 
  font-size: 2rem; 
  text-shadow: 2px 2px 5px whitesmoke; 
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  width: 70vw;
  max-height: fit-content;
}

.robot{
  border: 1px solid plum;
}

.footer{
  width: 100%;
  height: 6vw;
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

.cursor-glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  pointer-events: none;
  z-index: 9999;
  background: radial-gradient(circle, plum, transparent 70%);
  mix-blend-mode: screen;
  opacity: 0;

}

#home-page:hover .cursor-glow{
  opacity: 1;
}

.home-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2vw;
  margin: 4vw;
}

.home-button{
  background-color: plum;
  text-decoration: none;
  color: whitesmoke;
  cursor: none;
  font-size: 1.5rem;
  padding: 1vw 2vw;
  border-radius: 1vw;
  margin: 1vw;
  border: none;
  font-family: 'Orbitron', sans-serif;
  transition: background-color 0.4s ease-in-out;
  border: 1px solid plum; 
}

.home-button:hover{
  background-color: rgb(16,23,36, 0.4);
  border: 1px solid plum;
}




